article#container-counter {
	background-color: rgba(30, 144, 255, 0.1);
}

article#container-counter * {
	text-align: center;
	font-weight: bold;
}

#counter-solved {
	display: inline-block;
	transition: transform 0.3s ease;
}

article .content {
	position: relative;
}

article [class^='content-'] {
	height: 8rem;

	background: #fcfcfc;
}

article [class$='-before'] {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	z-index: 1;

	opacity: 0;
	transition: opacity 0.3s;
}

article .content:hover [class$='-before'] {
	opacity: 1;
}

@media (max-width: 1260px) {
	article .group {
		flex-direction: column;
	}
}
