* {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #272727;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/* * классы */

/* текст */

*.colored {
	color: #1e90ff;
}

*.text-faded {
	font-size: 0.75rem;
	font-weight: bold;
	opacity: 0.5;
}

/* контейнеры */

*.container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

*.container > * {
	flex: 1 0;
	height: fit-content;
}

/* -colored, -outlined */
*[class^='container-'],
/* конкретно counter */
#container-counter {
	border-radius: 2rem;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

*.container-colored {
	color: #fcfcfc;
	background-color: #1e90ff;
}

*.container-outlined {
	border: 1px rgba(39, 39, 39, 0.15) inset;
}

/* кнопки */

button {
	cursor: pointer;
	background: none;
	transition: all 0.3s;
	width: fit-content;
}

button[class^='button-'] {
	padding: 0.5rem 1.25rem;
	border: 4rem;
	border-radius: 4em;
	font-size: 1rem;
}

button.button-colored {
	color: #1e90ff;
	border: 1px solid #1e90ff;
}

button.button-colored:hover {
	color: #fcfcfc;
	background: #1e90ff;
}

button.button-inverted {
	color: #fcfcfc;
	border: 1px solid #fcfcfc;
}

button.button-inverted:hover {
	color: #1e90ff;
	background: #fcfcfc;
}

button.button-outlined {
	border: 1px solid rgba(39, 39, 39, 0.15);
}

/* формы*/

form .group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

form input {
	padding: 0.5rem 1.25rem;
	border-radius: 4rem;
	background: none;
}

/* форма outlined */

form.container-outlined input {
	font-size: 1em;
	border: 1px solid rgba(39, 39, 39, 0.15);
}

form.container-outlined input::placeholder {
	color: rgba(39, 39, 39, 0.5);
}

form.container-outlined input:focus-visible {
	outline: none;
	border: 1px solid #1e90ff;
}

/* форма colored */

form.container-colored * {
	color: #fcfcfc;
}

form.container-colored input {
	font-size: 1em;
	border: 1px solid rgba(252, 252, 252, 0.3);
}

form.container-colored input::placeholder {
	color: rgba(252, 252, 252, 0.75);
}

form.container-colored input:focus-visible {
	outline: none;
	border-color: rgba(252, 252, 252, 0.75);
}

/* общие */

*.hidden {
	display: none !important;
}

/* логотип */

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	object-fit: contain;
}

.logo a {
	font-weight: bold;
}

/* заголовки */

h1 {
	font-size: 1rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

/* header */

header {
	display: flex;
	justify-content: space-between;
}

header .logo img {
	width: 1.5rem;
	height: 1.5rem;
	object-fit: contain;
}

header .logo a {
	font-size: 1.25rem;
}

header ul {
	list-style-type: none;
}

/* главная */

main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* карточки */

article#container-counter p:first-of-type {
	font-size: 8rem;
}

article#container-counter p:last-of-type {
	font-size: 1.25rem;
}

article .group {
	display: flex;
	justify-content: space-between;
}

article .group .category {
	font-size: 0.75rem;
}

article img {
	width: 100%;
	height: 8rem;
	object-fit: cover;

	border-radius: 1rem;
}

article [class^='content'] .text-faded {
	text-align: center;
}

/* подвал */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	background: rgba(30, 144, 255, 0.05);
}

footer .logo img {
	width: 1.188rem;
	height: 1.188rem;
	object-fit: contain;
}

footer .logo a {
	font-size: 1rem;
}

footer p {
	font-size: 0.75rem;
}

/* адаптивность */

@media (min-width: 1200px) {
	/* скрываем шапку для смартфонов когда ширина экрана больше 1200 */
	header#header-mobile {
		display: none;
	}

	/* header-desktop */
	header#header-desktop {
		padding: 1rem 8rem;
	}

	header#header-desktop ul {
		display: flex;
		gap: 4rem;
	}

	/* main */
	main {
		padding: 1rem 8rem;
	}

	/* подвал */
	footer {
		padding: 1rem 8rem;
	}
}

@media (max-width: 1200px) {
	/* скрываем шапку для пк когда ширина экрана меньше 1200 */
	header#header-desktop {
		display: none;
	}

	/* header-mobile */
	header#header-mobile {
		position: relative;

		padding: 1rem;
	}

	header#header-mobile button#open-nav {
		padding: 0;
		border: none;
		background: none;
		font-size: 1rem;
	}

	header#header-mobile ul {
		position: absolute;
		left: 0;
		top: 100%;

		width: 100%;
		padding: 1rem;

		display: flex;
		flex-direction: column;
		gap: 1rem;

		background: #fcfcfc;
		border-bottom: 1px rgba(39, 39, 39, 0.15) inset;
	}

	header#header-mobile ul * {
		text-align: center;
	}

	/* главная секция */
	main {
		padding: 1rem;
	}

	/* контейнеры */
	*.container {
		flex-direction: column;
	}

	/* подвал */
	footer {
		padding: 1rem;
	}
}
