input#path {
	border: none;
	border-radius: 0;
	padding: 0;
}

#form-sort {
	padding: 0;
	border: none;
}

.application .group:first-of-type {
	flex-direction: row;
}

.application .group:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

form.container-outlined .group:first-child {
	flex-direction: row;
}

#categories-manage-container .category button,
form#applications button {
	font-size: 1rem;
	border: none;
	color: #1e90ff;
}

#applications {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

#applications > * {
	height: fit-content;
}

/* --- */

.row-item {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.row-item h2 {
	margin-bottom: 1rem;
}

hr {
	border: none;
	height: 1px;
	background: rgba(39, 39, 39, 0.15);
}

#new form.container-outlined {
	padding: 0;
	border: none;
	border-radius: 0;
}

form.form-manage {
	gap: 0.5rem;
}

.form-manage input[type='file'] {
	padding: 0;
	border: none;
	border-radius: 0;
}

form.form-manage button {
	width: 100%;
}

#container-solved .status {
	flex-direction: column;
}

/* --- */

#main-admin {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

#main-admin #new,
#main-admin #solved,
#main-admin #categories {
	height: 80vh;
	overflow-y: scroll;
}

#main-admin .category button {
	font-size: 1rem;
	color: #1e90ff;
	border: none;
}

@media (max-width: 1200px) {
	#applications {
		grid-template-columns: 1fr;
	}
}
